.strayAnimalReport-body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #F4F6FA;
  position: relative;
}

.strayAnimalReport-content {
  margin-left: 390px;
  padding-top: 80px;
}

.reports-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 90px;
}

.reportsSwitchLabel {
  font-size: 1rem;
  margin-left: 90px;
  margin-right: 10px;
}

.listOfReports-container {
  margin: 40px 90px 30px 90px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 50px;
  align-items: center;
}

.report-container {
  height: 270px;
  width: 410px;
  background-color: white;
  border-radius: 15px;
  transition: .1s ease-in;
  position: relative
}

.report-container:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, .05);
}

.report-id {
  margin: 30px 25px 0 25px;
  font-weight: 500;
  font-size: 1.35rem;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.report-description {
  margin: 10px 25px 0 25px;
  overflow: hidden;
  font-size: 1.1rem;
  font-weight: 300;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.75rem;
}

.report-subContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 25px 0 25px;
}

.report-dateSubmitted {
  font-size: .97rem;
}

.report-statusContainer {
  display: flex;
}

.report-viewed, .report-dismissed {
  font-size: .85rem;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
}

.report-viewed {
  background-color: #111;
  margin-right: 5px;
}

.report-dismissed {
  background-color: #ed5e68;
}

.report-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  border-top: 1px solid #bfbfbf;
  display: flex;
}

.report-viewBtn, .report-deleteBtn {
  display: block;
  width: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.15rem;
}

.report-viewBtn {
  border-bottom-left-radius: 15px;
  border-right: 1px solid #bfbfbf;
  transition: .2s ease-out;
}

.report-viewBtn:hover {
  background-color: rgb(69, 69, 69);
  color: white;
  font-weight: 700;
}

.report-deleteBtn {
  border-bottom-right-radius: 15px;
  transition: .2s ease-out;
}

.report-deleteBtn:hover {
  background-color: #ed5e68;
  color: white;
  font-weight: 700;
}

/* 1600 x 1200 */
@media screen and (max-width: 1919px) {
  .strayAnimalReport-content {
    margin-left: 310px;
  }

  .listOfReports-container {
    margin: 40px 90px 30px 90px;
    column-gap: 60px;
    row-gap: 50px;
  }
  
  .report-container {
    height: 210px;
    width: 330px;
  }

  .report-id {
    margin: 23px 22px 0 22px;
    font-size: .82rem;
  }

  .report-description {
    font-size: .9rem;
    margin: 8px 22px 0 22px;
    line-height: 1.6rem;
  }

  .report-subContainer {
    margin: 18px 22px 0 22px;
  }

  .report-dateSubmitted {
    font-size: .75rem;
  }
  
  .report-viewed, .report-dismissed {
    font-size: .65rem;
    padding: 5px 6px;
  }

  .report-actions {
    height: 45px;
  }

  .report-viewBtn, .report-deleteBtn {
    font-size: .9rem;
  }

  .report-viewBtn {
    border-bottom-left-radius: 15px;
    border-right: 1px solid #bfbfbf;
    transition: .2s ease-out;
  }

  .report-deleteBtn {
    border-bottom-right-radius: 15px;
    transition: .2s ease-out;
  }
}

/* 1440 x 900 */
@media screen and (max-width: 1440px) {
  .strayAnimalReport-content {
    margin-left: 305px;
  }

  .reports-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
  }

  .listOfReports-container {
    margin: 40px 70px 30px 70px;
    column-gap: 40px;
    row-gap: 35px;
  }

  .report-container {
    height: 190px;
    width: 290px;
    border-radius: 5px;
  }

  .report-id {
    margin: 20px 22px 0 22px;
    font-size: .7rem;
  }

  .report-description {
    font-size: .8rem;
    line-height: 1.3rem;
    margin: 10px 22px 0 22px;
  }

  .report-subContainer {
    margin: 16px 22px 0 22px;
  }

  .report-dateSubmitted {
    font-size: .7rem;
  }

  .report-viewed, .report-dismissed {
    font-size: .55rem;
    padding: 5px 6px;
  }

  .report-actions {
    height: 43px;
  }

  .report-viewBtn, .report-deleteBtn {
    font-size: .83rem;
  }

  .report-viewBtn {
    border-bottom-left-radius: 5px;
  }

  .report-deleteBtn {
    border-bottom-right-radius: 5px;
  }
}

/* 1360 x 768 */
@media screen and (max-width: 1366px) {
  .strayAnimalReport-content {
    margin-left: 275px;
    padding-top: 55px;
  }

  .reports-header-container {
    margin: 0 65px;
  }

  .listOfReports-container {
    margin: 30px 65px 30px 65px;
  }
}

@media screen and (width: 1366px) and (height: 625px) {
  .reportsSwitchLabel {
    font-size: .9rem;
    margin-left: 65px;
  }

  .listOfReports-container {
    margin-top: 15px;
    row-gap: 35;
    column-gap: 40px;
  }

  .report-container {
    height: 160px;
  }

  .report-id {
    margin: 18px 22px 0 22px;
    font-size: .6rem;
  }

  .report-description {
    font-size: .7rem;
    line-height: 1.05rem;
  }

  .report-subContainer {
  }

  .report-dateSubmitted {
    font-size: .65rem;
  }

  .report-viewed, .report-dismissed {
    font-size: .55rem;
    padding: 4px 9px;
  }

  .report-actions {
    height: 35px;
  }

  .report-viewBtn,
  .report-deleteBtn {
    font-size: .75rem;
  }
}

/* 1280 x 1024 */
@media screen and (max-width: 1280px) {
  .strayAnimalReport-content {
    margin-left: 255px;
  }

  .report-container { 
    height: 190px;
    width: 271px;
  }

  .report-id {
    margin: 20px 18px 0 18px;
    font-size: .67rem;
  }

  .report-description {
    margin: 11px 18px 0 18px;
    font-size: .75rem;
  }

  .report-subContainer {
    margin: 15px 18px 0 18px;
  }

  .report-viewed, .report-dismissed {
    font-size: .55rem;
    padding: 4px 6px;
  }

  .report-actions {
    height: 40px;
  }

  .report-viewBtn,
  .report-deleteBtn {
    font-size: .75rem;
  }

  .report-viewBtn {
    border-bottom-left-radius: 5px;
  }

  .report-deleteBtn {
    border-bottom-right-radius: 5px;
  }
}

/* 1024 x 768 */
@media screen and (max-width: 1024px) {
  .strayAnimalReport-content {
    margin-left: 240px;
    padding-top: 65px;
  }

  .reports-header-container {
    margin: 0 45px;
  }

  .listOfReports-container {
    margin: 30px 45px 30px 45px;
    column-gap: 30px;
  }

  .report-container {
    height: 150px;
    width: 210px;
  }

  .report-id {
    font-size: .52rem;
    margin: 15px 15px 0 15px;
  }

  .report-description {
    font-size: .6rem;
    line-height: 1rem;
    margin: 8px 15px 0 15px;
  }

  .report-subContainer {
    margin: 15px 15px 0 15px;
  }

  .report-dateSubmitted {
    font-size: .55rem;
  }

  .report-viewed, .report-dismissed {
    font-size: .4rem;
    padding: 2px 5px;
  }

  .report-actions {
    height: 35px;
  }

  .report-viewBtn,
  .report-deleteBtn {
    font-size: .65rem;
  }
}



.strayAnimalModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 690px;
  width: 640px;
  background-color: white;
  border-radius: 5px;
  z-index: 30;
}

.closeStrayAnimalModal {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.strayModal-heading-container {
  margin: 55px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strayModal-heading {
  font-size: 1.2rem;
  font-weight: 500;
}

.strayModal-reportId {
  font-size: .95rem;
  font-weight: 300;
  margin-top: 5px;
}

.strayModal-status {
  font-size: .95rem;
  background-color: #ed5e68;
  padding: 4px 7px;
  border-radius: 5px;
  color: white;
}

.strayModal-dateSubmitted {
  margin: 15px 50px 40px 50px;
  font-weight: 500;
  font-size: 1.05rem;
}

.strayModal-dateSubmitted span {
  font-weight: 300;
}

.strayModal-label {
  font-size: 1.1rem;
  margin: 0 50px 5px 50px;
  font-weight: 500;
}

.strayModal-location {
  margin: 0 50px 30px 50px;
  line-height: 25px;
  font-weight: 300;
}

.strayModal-desc-container {
  margin: 10px 50px 0 50px;
  padding: 20px;
  height: 170px;
  background: #f5f5f5;
  border-radius: 5px;
}

.strayModal-desc {
  line-height: 30px;
  font-weight: 300;
}

.strayModalBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 50px 0 50px;
}

.strayModalViewed-container {
  display: flex;
  align-items: center;
}

.strayModal-checkbox {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 5px;
}

.strayModal-viewedLabel {
  margin-left: 10px;
}

.strayModal-checked {
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  background-color: #111;
  border-radius: 5px;
}

.strayModalViewedChecked {
  height: 20px;
  width: 20px;
}

.strayModal-viewedLabel-checked {
  margin-left: 10px;
  font-weight: 500;
}

.strayModal-dismissBtn {
  font-size: 1.2rem;
  padding: 7px 15px;
  cursor: pointer
}

/* 1600 x 1200 */
@media screen and (max-width: 1919px) {
  .strayAnimalModal {
    height: 630px;
    width: 570px;
  }

  .closeStrayAnimalModal {
    height: 32px;
    width: 32px;
  }

  .strayModal-heading-container {
    margin: 50px 45px 0 45px;
  }

  .strayModal-heading {
    font-size: 1.05rem;
  }

  .strayModal-reportId {
    font-size: .85rem;
  }

  .strayModal-status {
    padding: 4px 7px;
    font-size: .8rem;
  }

  .strayModal-dateSubmitted {
    font-size: .9rem;
    margin: 15px 45px 30px 45px;
  }

  .strayModal-label {
    font-size: .9rem;
    margin: 0 45px 5px 45px;
  }

  .strayModal-location {
    margin: 0 45px 20px 45px;
    font-size: .85rem;
  }

  .strayModal-desc-container {
    margin: 8px 45px 0 45px;
    height: 185px;
    padding: 13px;
  }

  .strayModal-desc {
    font-size: .8rem;
  }

  .strayModalBottom {
    margin: 40px 45px 0 45px;
  }

  .strayModal-checkbox {
    height: 25px;
    width: 25px;
  }

  .strayModal-viewedLabel, .strayModal-viewedLabel-checked {
    font-size: .95rem;
  }

  .strayModal-checked {
    height: 25px;
    width: 25px;
  }

  .strayModal-dismissBtn {
    font-size: 1rem;
  }

}

/* 1440 x 900 */
@media screen and (max-width: 1440px) {
}

/* 1360 x 768 */
@media screen and (max-width: 1366px) {
  .strayAnimalModal {
    height: 550px;
    width: 480px;
  }

  .closeStrayAnimalModal {
    height: 25px;
    width: 25px;
  }

  .strayModal-heading-container {
    margin: 45px 35px 0 35px;
  }

  .strayModal-heading {
    font-size: .9rem;
  }

  .strayModal-reportId {
    font-size: .75rem;
  }

  .strayModal-status {
    font-size: .65rem;
  }

  .strayModal-dateSubmitted {
    font-size: .8rem;
    margin: 12px 35px 30px 35px;
  }

  .strayModal-label {
    font-size: .8rem;
    margin: 0 35px 5px 35px;
  }

  .strayModal-location {
    font-size: .73rem;
    line-height: 24px;
    margin: 0 35px 20px 35px;
  }

  .strayModal-desc-container {
    margin: 8px 35px 0 35px;
    height: 150px;
    padding: 10px;
  }

  .strayModal-desc {
    font-size: .7rem;
    line-height: 25px;
  }

  .strayModalBottom {
    margin: 30px 35px 0 35px;
  }

  .strayModal-checkbox {
    height: 21px;
    width: 21px;
  }

  .strayModal-viewedLabel, .strayModal-viewedLabel-checked {
    font-size: .8rem;
    margin-left: 7px;
  }

  .strayModal-dismissBtn {
    font-size: .9rem;
    padding: 7px 12px;
  }
}

@media screen and (width: 1366px) and (height: 625px) {
  .strayAnimalModal {
    height: 500px;
    width: 480px;
  }

  .strayModal-heading-container {
    margin: 35px 35px 0 35px;
  }

  .strayModalViewedChecked {
    height: 15px;
    width: 15px;
  }
}

/* 1280 x 1024 */
@media screen and (max-width: 1280px) {
  .strayAnimalModal {
    height: 540px;
  }
}

/* 1024 x 768 */
@media screen and (max-width: 1024px) {
 
}